.popularCardContainer:hover > .popularCardContentExpanded {
  display: flex;
}
.popularCardContainer:hover > .popularCardContentShinked {
  visibility: hidden;
}

.popularCardContentExpanded {
  display: none;
}

.popularCardContentShinked {
  visibility: visible;
}
