@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

.html {
  font-size: 10px;
}

:root {
  --primary-redrose: #e81e25;
  --primary-redrose-dark: #d50909;
  --primary-redrose-light: #ff7075;
  --blackberry: #0e0301;
  --blackberry-light: #555555;
  --blackberry-lightest: #acabaf;
  --background-light: #f9f9f9;
  --background-dark: #555555;

  font-family: 'Noto Sans KR', sans-serif;
  background-color: var(--primary-redrose);
  word-break: keep-all;
}

:root {
  --swiper-navigation-color: var(--blackberry);
  --swiper-pagination-color: var(--blackberry);
  --swiper-scrollbar-color: var(--primary-redrose);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: var(--blackberry-lightest);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-redrose-light);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-redrose);
}

.rc-slider-handle-dragging {
  box-shadow: 0 0 5px var(--primary-redrose-light) !important;
}
.rc-slider-handle:active {
  box-shadow: 0 0 5px var(--primary-redrose-light) !important;
}

.unselectable {
  user-select: none;
}
