@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

html {
  font-family: 'Noto Sans KR', sans-serif !important;
  word-break: keep-all;
}

:root {
  --primary-redrose: #e81e25;
  --primary-redrose-dark: #d50909;
  --primary-redrose-light: #ff7075;
  --blackberry: #0e0301;
  --blackberry-light: #555555;
  --blackberry-lightest: #acabaf;
  --background-light: #f9f9f9;
  --background-dark: #555555;
}

/* swiper 라이브러리의 기본 색상 변경*/
:root {
  --swiper-navigation-color: var(--blackberry);
  --swiper-pagination-color: var(--blackberry);
  --swiper-scrollbar-color: var(--primary-redrose);
}

/* 스크롤바 스타일 변경. 크롬에서만 적용됨. */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: var(--blackberry-lightest);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-redrose-light);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-redrose);
}

/* autocomplete 시 배경화면 변하는 거 없애기 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

/* input:focus 시 생기는 outline 제거 */
input:focus {
  outline: none;
}

/* rc-slider 핸들 드래그 시 생기는 그림자 커스텀*/
.rc-slider-handle-dragging {
  box-shadow: 0 0 5px var(--primary-redrose-light) !important;
}
.rc-slider-handle:active {
  box-shadow: 0 0 5px var(--primary-redrose-light) !important;
}
.rc-slider-dot-active {
  border-color: var(--blackberry) !important;
}

/* 텍스트 선택 안되게 하고 싶으면 이 클래스 추가 */
.unselectable {
  user-select: none;
}

@layer components {
  .app-content-container-md {
    @apply grid grid-cols-1 grid-rows-[4rem_auto] flex-1 h-full max-h-full overflow-y-auto overflow-x-hidden bg-background-light pl-1 lg:pl-6 pt-6;
    @apply rounded-l-3xl;
  }
  .app-content-container-sm {
    @apply grid grid-cols-1 grid-rows-[4rem_auto] flex-1 h-full max-h-full overflow-y-auto overflow-x-hidden bg-background-light pl-1 lg:pl-6 pt-6;
  }
}
